@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.Notifications.Internal
@inherits OrderBase

<PageTitle>Crear factura</PageTitle>

<SfBreadcrumb>
    <BreadcrumbItems>
        <BreadcrumbItem IconCss="e-icons e-home" Url="" />
        <BreadcrumbItem Text="Facturas" Disabled="true" />
        <BreadcrumbItem Text="Crear" Url="./orders/create/index" />
    </BreadcrumbItems>
</SfBreadcrumb>
<EditForm class="control-section" Model="@this.OrderViewModel" OnValidSubmit="@this.Submit">
    <ObjectGraphDataAnnotationsValidator />
    <div class="row">
        <div class="col-sm">
            <CustomerInfo CustomerInfoViewModel="@this.OrderViewModel.CustomerInfoViewModel"/>
        </div>
        <div class="col-sm">
            <Condition Evaluation="@this.ShowOrderItems">
                <Match>
                    <Payments OrderViewModel="@this.OrderViewModel"/>
                </Match>
            </Condition>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <OrderDetailList OrderDetailViewModels="@this.OrderViewModel.OrderDetailViewModels" OnOrderDetailUpdated="@this.UpdateTotal"/>
        </div>
    </div>
    <Condition Evaluation="@this.ShowOrderItems">
        <Match>
            <div class="row">
                <div class="col-sm d-md-flex justify-content-md-end">
                    <SfButton Type="submit" CssClass="e-success me-md-2">Crear</SfButton>
                    <SfButton Type="button" CssClass="e-danger" @onclick="@this.Cancel">Cancelar</SfButton>
                </div>
            </div>
        </Match>
    </Condition>
</EditForm>

<div id="target" class="col-lg-12 control-section">
    <SfDialog Width="400px" ShowCloseIcon="true" @bind-Visible="@this.ConfirmDialogVisibility" AllowPrerender="true" IsModal="true">
        <DialogTemplates>
            <Header> Confirmación</Header>
            <Content> ¿Estás seguro/a de que deseas crear factura? </Content>
        </DialogTemplates>
        <DialogButtons>
            <DialogButton Content="Aceptar" IsPrimary="true" OnClick="@this.CreateOrderAsync" />
            <DialogButton Content="Cancelar" IsPrimary="false" OnClick="@(() => this.ConfirmDialogVisibility = false)" />
        </DialogButtons>
    </SfDialog>
</div>

@*<div class="col-lg-12 control-section toast-default-section">
    <SfToast ID="toast_default" @ref="@this.ConfirmToast" Title="Adaptive Tiles Meeting" Content="@this.ConfirmToastContent" Icon="e-meeting">
        <ToastPosition X="Right"></ToastPosition>
    </SfToast>
</div>
*@