@using Syncfusion.Blazor.Inputs
@inherits Order2Base
<PageTitle>Crear factura</PageTitle>

<SfBreadcrumb>
    <BreadcrumbItems>
        <BreadcrumbItem IconCss="e-icons e-home" Url="" />
        <BreadcrumbItem Text="Facturas" Disabled="true" />
        <BreadcrumbItem Text="Crear" Url="./orders/create/index" />
    </BreadcrumbItems>
</SfBreadcrumb>
<EditForm class="control-section" Model="@this.OrderViewModel" OnValidSubmit="@this.Submit">
    <DataAnnotationsValidator />
    <div class="row">
        <div class="col-sm">
            <CustomerInfo CustomerInfoViewModel="@this.OrderViewModel.CustomerInfoViewModel"/>
        </div>
        <div class="col-sm">
            <Condition Evaluation="@this.ShowOrderItems">
                <Match>
                    <Payments OrderViewModel="@this.OrderViewModel"/>
                </Match>
            </Condition>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <OrderDetailList OrderDetailViewModels="@this.OrderViewModel.OrderDetailViewModels" OnOrderDetailUpdated="@this.UpdateTotal"/>
        </div>
    </div>
    <Condition Evaluation="@this.ShowOrderItems">
        <Match>
            <div class="row">
                <div class="col-sm d-md-flex justify-content-md-end">
                    <SfButton Type="submit" CssClass="e-success me-md-2">Crear</SfButton>
                    <SfButton Type="button" CssClass="e-danger" @onclick="@this.Cancel">Cancelar</SfButton>
                </div>
            </div>
        </Match>
    </Condition>
</EditForm>
