@using Syncfusion.Blazor.Inputs
@inherits Order2Base
<PageTitle>Crear factura</PageTitle>

<SfBreadcrumb>
    <BreadcrumbItems>
        <BreadcrumbItem IconCss="e-icons e-home" Url="" />
        <BreadcrumbItem Text="Facturas" Disabled="true" />
        <BreadcrumbItem Text="Crear" Url="./orders/create/index" />
    </BreadcrumbItems>
</SfBreadcrumb>
<div class="control-section">
    <div class="row">
        <div class="col-sm">
            <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
                <b class="spaccio-label">Datos del cliente</b>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
                    <SfTextBox Placeholder="Nombre" FloatLabelType="@FloatLabelType.Auto"></SfTextBox>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
                    <SfTextBox Placeholder="NIF" FloatLabelType="@FloatLabelType.Auto"></SfTextBox>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
                    <SfTextBox Placeholder="Dirección" FloatLabelType="@FloatLabelType.Auto"></SfTextBox>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
                    <SfTextBox Placeholder="Teléfono" FloatLabelType="@FloatLabelType.Auto"></SfTextBox>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
                <b class="spaccio-label">Forma de pago</b>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
                    <SfTextBox Placeholder="Nombre" FloatLabelType="@FloatLabelType.Auto"></SfTextBox>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
                    <SfTextBox Placeholder="NIF" FloatLabelType="@FloatLabelType.Auto"></SfTextBox>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
                    <SfTextBox Placeholder="Dirección" FloatLabelType="@FloatLabelType.Auto"></SfTextBox>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
                    <SfTextBox Placeholder="Teléfono" FloatLabelType="@FloatLabelType.Auto"></SfTextBox>
                </div>
            </div>
        </div>
    </div>
</div>
