@using Microsoft.AspNetCore.Components
<RadzenFieldset Text="Métodos de pago">
    <Condition Evaluation="this.OrderViewModel.NetAmount != 0">
        <Match>
            <div class="row">
                <div class="col-6">
                    <div class="row">
                        <div class="col-4">
                            <RadzenLabel Text="Tarjeta" />
                        </div>
                        <div class="col-6">
                            <RadzenNumeric TValue="decimal" Style="width: 40%;"
                                           @bind-Value="@this.OrderViewModel.CreditCardAmount"
                                           Format="0.00" Class="mr-1"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <RadzenLabel Text="Efectivo" />
                        </div>
                        <div class="col-6">
                            <RadzenNumeric TValue="decimal" Style="width: 40%;"
                                           @bind-Value="@this.OrderViewModel.CashAmount"
                                           Format="0.00" Class="mr-1"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <RadzenLabel Text="Financiado" />
                        </div>
                        <div class="col-6">
                            <RadzenNumeric TValue="decimal" Style="width: 40%;"
                                           @bind-Value="@this.OrderViewModel.FinancedAmount"
                                           Format="0.00" Class="mr-1"/>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row">
                        <div class="col-4">
                            <RadzenLabel Text="Neto" />
                        </div>
                        <div class="col-6">
                            <RadzenNumeric TValue="decimal" Style="width: 40%;"
                                           ShowUpDown="false"
                                           ReadOnly="true"
                                           Value="@this.OrderViewModel.NetAmount"
                                           Format="0.00" Class="mr-1"/>
                        </div>
                    </div>                    <div class="row">
                        <div class="col-4">
                            <RadzenLabel Text="Total (+ 21% IVA)" />
                        </div>
                        <div class="col-6">
                            <RadzenNumeric TValue="decimal" Style="width: 40%;"
                                           ShowUpDown="false"
                                           ReadOnly="true"
                                           Value="@this.OrderViewModel.TotalAmount"
                                           Format="0.00" Class="mr-1"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <RadzenLabel Text="Pendiente" />
                        </div>
                        <div class="col-6">
                            <RadzenNumeric TValue="decimal" Style="width: 40%;"
                                           ShowUpDown="false"
                                           ReadOnly="true"
                                           Value="@this.OrderViewModel.PendingAmount"
                                           Format="0.00" Class="mr-1"/>
                        </div>
                    </div>
                </div>
            </div>
        </Match>
    </Condition>
</RadzenFieldset>

@code {
    [Parameter]
    public OrderViewModel OrderViewModel { get; set; } = default!;
}