@using Syncfusion.Blazor.Inputs

<div class="col-sm-12 col-lg-12 col-md-12">
    <b class="spaccio-label">Forma de pago</b>
</div>
<div class="row">
    <div class="col-sm-6 col-lg-6 col-md-6">
        <label class="spaccio-label">Tarjeta</label>
        <SfNumericTextBox TValue="decimal" Format="c2" @bind-Value="@this.OrderViewModel.CreditCardAmount" Enabled="@this.Enabled"/>
    </div>
    <div class="col-sm-6 col-lg-6 col-md-6">
        <label class="spaccio-label">Neto</label>
        <SfNumericTextBox TValue="decimal" Format="c2" Readonly="true" ShowSpinButton="false" Value="@this.OrderViewModel.NetAmount"  Enabled="@this.Enabled"/>
    </div>
</div>
<div class="row">
    <div class="col-sm-6 col-lg-6 col-md-6">
        <label class="spaccio-label">Efectivo</label>
        <SfNumericTextBox TValue="decimal" Format="c2" @bind-value="@this.OrderViewModel.CashAmount"  Enabled="@this.Enabled"/>
    </div>
    <div class="col-sm-6 col-lg-6 col-md-6">
        <label class="spaccio-label">Total (+ 21% IVA)</label>
        <SfNumericTextBox TValue="decimal" Format="c2" Readonly="true" ShowSpinButton="false" Value="@this.OrderViewModel.TotalAmount"  Enabled="@this.Enabled"/>
    </div>
</div>
<div class="row">
    <div class="col-sm-6 col-lg-6 col-md-6">
        <label class="spaccio-label">Crédito</label>
        <SfNumericTextBox TValue="decimal" Format="c2" @bind-Value="@this.OrderViewModel.FinancedAmount"  Enabled="@this.Enabled"/>
    </div>
    <div class="col-sm-6 col-lg-6 col-md-6">
        <label class="spaccio-label">Pendiente</label>
        <SfNumericTextBox TValue="decimal" Format="c2" Readonly="true" ShowSpinButton="false" Value="@this.OrderViewModel.PendingAmount"  Enabled="@this.Enabled"/>
        <ValidationMessage For="@(() => this.OrderViewModel.PendingAmount)"></ValidationMessage>
    </div>
</div>

@code {
    [Parameter]
    public OrderViewModel OrderViewModel { get; set; } = default!;

    [Parameter]
    public bool Enabled { get; set; } = true;
}