@inherits OrderEditBase

<EditForm class="control-section" Model="@this.OrderViewModel" OnValidSubmit="@this.Submit">
    <div class="row">
        <div class="col-sm">
            <CustomerInfo CustomerInfoViewModel="@this.OrderViewModel.CustomerInfo" />
        </div>
@*        <div class="col-sm">
            <Condition Evaluation="@this.ShowOrderItems">
                <Match>
                    <Payments OrderViewModel="@this.OrderViewModel" />
                </Match>
            </Condition>
        </div>*@
    </div>

</EditForm>