@inherits OrderEditBase

<div class="control-section">
    <div class="row">
        <div class="col-sm">
            <SfCard>
                <h3 class="space-margin">Factura nº @this.OrderId - Estado: @this.OrderViewModel.OrderStatus</h3>
            </SfCard>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <SfCard>
                <div class="col-sm d-md-flex justify-content-md-end">
                    <SfCheckBox Label="Editar" @bind-Checked="@this.IsCustomerDataEditable" CssClass="space-margin"></SfCheckBox>
                </div>
                <EditForm class="control-section" Model="@this.OrderViewModel" OnValidSubmit="@this.EditClientDataAsync">
                    <CustomerInfo Item="@this.OrderViewModel.CustomerInfo" Enabled="@this.IsCustomerDataEditable" />
                    <div class="col-sm d-md-flex justify-content-md-end">
                        <SfButton Type="submit" CssClass="e-success me-md-2" Disabled="!this.IsCustomerDataEditable">Actualizar</SfButton>
                    </div>
                </EditForm>
            </SfCard>
        </div>
        <div class="col-sm">
            <SfCard>
                <div class="col-sm d-md-flex justify-content-md-end">
                    <SfCheckBox Label="Editar" @bind-Checked="@this.IsPaymentEditable" CssClass="space-margin"></SfCheckBox>
                </div>
                <EditForm class="control-section" Model="@this.OrderViewModel" OnValidSubmit="@this.EditPaymentAsync">
                    <Condition Evaluation="@this.ShowOrderItems">
                        <Match>
                            <Payments OrderViewModel="@this.OrderViewModel" Enabled="@this.IsPaymentEditable" />
                        </Match>
                    </Condition>
                    <div class="col-sm d-md-flex justify-content-md-end">
                        <SfButton Type="submit" CssClass="e-success me-md-2" Disabled="!this.IsPaymentEditable">Actualizar</SfButton>
                    </div>
                </EditForm>
            </SfCard>
        </div>
    </div>
    <SfCard>
        <div class="row">
            <div class="col-sm">
                <div class="col-sm-12 col-lg-12 col-md-12">
                    <b class="spaccio-label">Productos</b>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <div class="space-margin">
                    @foreach (var orderDetail in this.OrderViewModel.OrderDetail)
                    {
                        <OrderDetailItem OrderDetail="@orderDetail" IsEnabled=false />
                    }
                </div>
            </div>
        </div>
    </SfCard>
</div>

<div class="col-lg-12 control-section">
    <SfToast ID="toast_order_edit" @ref="@this.ResultToast" Title="Result" Timeout="10000" Icon="e-meeting">
        <ToastPosition X="Center" />
        <ToastAnimationSettings>
            <ToastShowAnimationSettings Effect="ToastEffect.FadeZoomIn" />
            <ToastHideAnimationSettings Effect="ToastEffect.FadeZoomOut" />
        </ToastAnimationSettings>
    </SfToast>
</div>