@inherits OrderEditBase

<div class="control-section">
    <SfCard CssClass="spaccio-card">
        <div class="row" style="margin-bottom:10px;">
            <h3 class="space-margin">Factura nº @this.OrderId - Estado: @this.OrderViewModel.OrderStatus</h3>
        </div>
    </SfCard>
    <SfCard CssClass="spaccio-card">
        <div class="row">
            <div class="col-sm">
                <Condition Evaluation="@this.IsCancelled">
                    <NotMatch>
                        <div class="col-sm d-md-flex justify-content-md-end">
                            <SfCheckBox Label="Editar" @bind-Checked="@this.IsCustomerDataEditable" CssClass="space-margin"></SfCheckBox>
                        </div>
                    </NotMatch>
                </Condition>
                <EditForm Model="@this.OrderViewModel" OnValidSubmit="@this.EditClientDataAsync">
                    <CustomerInfo Item="@this.OrderViewModel.CustomerInfo" Enabled="@this.IsCustomerDataEditable" />
                    <Condition Evaluation="@this.IsCancelled">
                        <NotMatch>
                            <div class="col-sm d-md-flex justify-content-md-end">
                                <SfButton Type="submit" CssClass="e-success me-md-2 e-outline" Disabled="!this.IsCustomerDataEditable">Actualizar cliente</SfButton>
                            </div>
                        </NotMatch>
                    </Condition>
                </EditForm>
            </div>
            <div class="col-sm">
                <Condition Evaluation="@this.IsCancelled">
                    <NotMatch>
                        <div class="col-sm d-md-flex justify-content-md-end">
                            <SfCheckBox Label="Editar" @bind-Checked="@this.IsPaymentEditable" CssClass="space-margin"></SfCheckBox>
                        </div>
                    </NotMatch>
                </Condition>
                <EditForm Model="@this.OrderViewModel" OnValidSubmit="@this.EditPaymentAsync">
                    <Condition Evaluation="@this.ShowOrderItems">
                        <Match>
                            <Payments OrderViewModel="@this.OrderViewModel" Enabled="@this.IsPaymentEditable" />
                        </Match>
                    </Condition>
                    <Condition Evaluation="@this.IsCancelled">
                        <NotMatch>
                            <div class="col-sm d-md-flex justify-content-md-end">
                                <SfButton Type="submit" CssClass="e-success me-md-2 e-outline" Disabled="!this.IsPaymentEditable">Actualizar pago</SfButton>
                            </div>
                        </NotMatch>
                    </Condition>
                </EditForm>
            </div>
        </div>
        <div class="col-sm">
            <div style="margin-bottom:10px;">
                <b class="spaccio-label">Productos</b>
            </div>
            <div class="row">
                <div class="col-sm">
                    <OrderSummary OrderDetails="@this.OrderViewModel.OrderDetail" />
                </div>
            </div>
        </div>
        <Condition Evaluation="@this.IsCancelled">
            <NotMatch>
                <div class="control-section">
                    <div class="row">
                        <div class="col-sm">
                            <div class="col-sm d-md-flex justify-content-md-end">
                                <SfButton Type="button" CssClass="e-danger me-md-2 e-outline" OnClick="@this.ShowCancelOrderDialog">Anular</SfButton>
                            </div>
                        </div>
                    </div>
                </div>
            </NotMatch>
        </Condition>
            <div class="row">
                <div class="col-sm">
                    <div class="col-sm d-md-flex justify-content-md-start">
                        <SfButton Type="button" CssClass="e-success me-md-2 e-outline" OnClick="@this.PrintDeliveryNoteAsync">Albarán</SfButton>
                    </div>
                </div>
        </div>
    </SfCard>
</div>

<div id="target" class="col-lg-12 control-section">
    <SfDialog Width="400px" ShowCloseIcon="true" @bind-Visible="@this.ConfirmDialogVisibility" AllowPrerender="true" IsModal="true">
        <DialogTemplates>
            <Header> Confirmación</Header>
            <Content> ¿Estás seguro/a de que deseas cancelar la factura? </Content>
        </DialogTemplates>
        <DialogButtons>
            <DialogButton Content="Aceptar" IsPrimary="true" OnClick="@this.CancelOrderAsync" />
            <DialogButton Content="Cancelar" IsPrimary="false" OnClick="@(() => this.ConfirmDialogVisibility = false)" />
        </DialogButtons>
    </SfDialog>
</div>

<div class="col-lg-12 control-section">
    <SfToast ID="toast_order_edit" @ref="@this.ResultToast" Title="Result" Timeout="10000" Icon="e-meeting">
        <ToastPosition X="Center" />
        <ToastAnimationSettings>
            <ToastShowAnimationSettings Effect="ToastEffect.FadeZoomIn" />
            <ToastHideAnimationSettings Effect="ToastEffect.FadeZoomOut" />
        </ToastAnimationSettings>
    </SfToast>
</div>