@inherits OrderEditBase

<div class="control-section">
    <div class="row">
        <div class="col-sm">
            <SfCard>
                <EditForm class="control-section" Model="@this.OrderViewModel" OnValidSubmit="@this.EditClientDataAsync">
                    <CustomerInfo Item="@this.OrderViewModel.CustomerInfo" Enabled="@this.IsCustomerDataEditable" />
                    <SfCheckBox Label="Editar" @bind-Checked="@this.IsCustomerDataEditable"></SfCheckBox>
                    <SfButton Type="submit" CssClass="e-success me-md-2" Disabled="!this.IsCustomerDataEditable">Actualizar</SfButton>
                </EditForm>
            </SfCard>
        </div>
        <div class="col-sm">
            <SfCard>
                <EditForm class="control-section" Model="@this.OrderViewModel" OnValidSubmit="@this.EditPaymentAsync">
                    <Condition Evaluation="@this.ShowOrderItems">
                        <Match>
                            <Payments OrderViewModel="@this.OrderViewModel" Enabled="@this.IsPaymentEditable"/>
                        </Match>
                    </Condition>
                    <SfCheckBox Label="Editar" @bind-Checked="@this.IsPaymentEditable"></SfCheckBox>
                    <SfButton Type="submit" CssClass="e-success me-md-2" Disabled="!this.IsPaymentEditable">Actualizar</SfButton>
                </EditForm>
            </SfCard>
        </div>
    </div>
    <SfCard>
        <div class="row">
            <div class="col-sm">
                @foreach (var orderDetail in this.OrderViewModel.OrderDetail)
                {
                    <OrderDetailItem OrderDetail="@orderDetail" IsEnabled=false />
                }
            </div>
        </div>
    </SfCard>
</div>

<div class="col-lg-12 control-section">
    <SfToast ID="toast_order_edit" @ref="@this.ResultToast" Title="Result" Timeout="10000" Icon="e-meeting">
        <ToastPosition X="Center" />
        <ToastAnimationSettings>
            <ToastShowAnimationSettings Effect="ToastEffect.FadeZoomIn" />
            <ToastHideAnimationSettings Effect="ToastEffect.FadeZoomOut" />
        </ToastAnimationSettings>
    </SfToast>
</div>